.allContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.weekLayout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.weekday {
    margin: 10px;
}

.breakfast {
    background-color: lightgrey;
    padding: 10px;
}

.lunch {
    background-color: whitesmoke;
    padding: 10px;
}

.dinner {
    background-color: lightgrey;
    padding: 10px;
}

.ingredientInput {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ingredientLabel {
    text-align: center;
    white-space: nowrap;
    margin-right: 2%;
}

@media (max-width: 500px) {
    .weekLayout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}